/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */


/******************************************
/* LAYOUT                   
/*******************************************/

.site-container {
}

.site-header {

}
.site-content {

}
.site-footer {

}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/

ul {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  color: lime;
  font-size: 50px;
  line-height: -5;
  transform: rotate(-20deg);
  text-align: center;
  text-transform: italic;
  width: 50%;
  margin: auto;
}

li {
  list-style: none;
  width: 50vw;
  height: 45vh;
  float: left;
  background-size: cover;
  padding: 10px;
  text-align: centre;
  font-size: 5vw;
  color: white;
  background-color: red;
}

h2:hover {
  color: red;
}

li:hover {
  background-color: blue;
};